/* Стили для самой кнопки */
.burgerButton {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 60px;
   height: 60px;
   background: transparent;
   border: none;
   cursor: pointer;
   padding: 0;
   outline: none;
   z-index: 10;
   display: none;
   background: var(--main-main);
   padding: 18px;
   border-radius: var(--border-r20);
}

/* Стили для каждой полосы */
.burgerLine {
   display: block;
   width: 25px;
   height: 4px;
   background-color: var(--color-2);
   border-radius: 2px;
   transition: all 0.3s ease-in-out;
}

.burgerLine:nth-child(odd){
   width: 13px;
}

/* Состояние активной кнопки */
.burgerButton.active .burgerLine.burgerLineTop {
   transform: translateY(11px) rotate(45deg);
   top: 0;
   width: 100%;
}

.burgerButton.active .burgerLine.burgerLineMiddle {
   opacity: 0;
}

.burgerButton.active .burgerLine.burgerLineBottom {
   transform: translateY(-9px) rotate(-45deg);
   bottom: 0;
   width: 100%;
}

/* Дополнительные стили (наведение, фокус) */
.burgerButton:hover .burgerLine,
.burgerButton:focus .burgerLine {
   background-color: #ddd;
}

.burgerButton:focus {
   outline: 2px solid rgba(255, 255, 255, 0.5);
   outline-offset: 2px;
}

@media screen and (max-width: 850px) {
   .burgerButton {
      display: flex;
   }
}