.scrollContainer {
   position: absolute !important;
   top: 0;
   left: -20px;
   width: calc(100% + 20px);
   height: 575px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow-x: hidden;
   white-space: nowrap;
   position: relative;
   z-index: 2;
}

.scrollContainer::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 1;
}

.arrow {
   position: absolute;
   left: calc(50% + 19px);
   height: 100%;
   width: 2px;
   background: radial-gradient(50% 50% at 50% 50%, #FF6D00 0%, rgba(255, 109, 0, 0) 100%);
}

.scrollContent {
   width: 4800px;
   display: flex;
   animation: scroll 5s ease-out forwards;
   gap: 50px;
}

.item {
   flex: 0 0 auto;
   width: 180px;
   height: 90px;
   margin-right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.01s ease;
}

.inView {
   transform: scale(1.6);
   z-index: 3;
}

@keyframes scroll {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-3667px);
   }
}

@media screen and (max-width: 1895px) {
   @keyframes scroll {
      100% {
         transform: translateX(var(--offset));
      }
   }
}

@media screen and (max-width: 1582px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 50px));
      }
   }
}

@media screen and (max-width: 1375px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 100px));
      }
   }
}

@media screen and (max-width: 1295px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 150px));
      }
   }
}

@media screen and (max-width: 1223px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 260px));
      }
   }
}

@media screen and (max-width: 1020px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 320px));
      }
   }
}

@media screen and (max-width: 850px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 220px));
      }
   }
}

@media screen and (max-width: 728px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 260px));
      }
   }
}

@media screen and (max-width: 630px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 320px));
      }
   }
}


@media screen and (max-width: 560px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 350px));
      }
   }
}

@media screen and (max-width: 510px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 700px));
      }
   }

   .inView {
      transform: scale(1.3);
      z-index: 3;
   }

   .item {
      width: 162px;
      height: 81px;
   }
}

@media screen and (max-width: 450px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 720px));
      }
   }
}

@media screen and (max-width: 414px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 760px));
      }
   }
}


@media screen and (max-width: 340px) {
   @keyframes scroll {
      100% {
         transform: translateX(calc(var(--offset) + 800px));
      }
   }
}