
.btnRow {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 6px;
} 

.btn {
   width: 23%;
   display: flex;
   justify-content: center;
   white-space: nowrap;
   padding: 19px 25px;
   background: var(--bg-2);
   font-size: var(--font-size-15);
   border-radius: var(--border-r14);
}