 .button {
    display: flex;
    align-items: center;
 }

 .button * {
    pointer-events: none;
 }

 .button img {
    width: 20px;
 }

 @media screen and (max-width: 720px) {
    .button img {
       width: 18px;
    }
 }