 .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 11px 15px;
 }

 .logoMini {
    width: 90px;
 }

 .automaticFirearm {
    width: 100px;
 }

 .arrow {
    width: 18px;
 }