 .container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }

 .logoMini {
    width: 69px;
 }

 .automaticFirearm {
    width: 100px;
 }

 .arrow {
    width: 18px;
 }