.title {
   font-size: var(--font-size-20)
}

.grey {
   color: var(--color-2);
   font-size: var(--font-size-20)
}

.cordRow {
   max-width: 1860px;
   position: relative;
   display: flex;
   flex-wrap: nowrap;
   gap: 9px;
   overflow-x: auto;
   scrollbar-width: none;
   -ms-overflow-style: none;
   overflow: hidden;
   width: fit-content;
     will-change: transform;
}

.cordRow {
    display: flex;
    overflow: hidden;
}

.flipCard {
    width: 160px;
}

.container::-webkit-scrollbar {
   display: none;
}

@media screen and (max-width: 756px) {
   .cordRow {
      flex-direction: column;
   }
}