.title {
   font-size: var(--font-size-20)
}

.grey {
   color: var(--color-2);
   font-size: var(--font-size-20)
}

.cordRow {
   display: flex;
   flex-wrap: wrap;
   gap: 9px;
}

@media screen and (max-width: 756px) {
   .cordRow {
      flex-direction: column;
   }
}