.imageContainer {
   position: absolute;
   width: calc(100% + 40px);
   left: -20px;
   top: -121px;
   overflow: hidden;

   margin: auto;
   display: block;
   bottom: 0px;
   top: -103px;
   left: 0px;
   transform: translate(-50%, 0);
   transform: scale(1.2);
}

.caseImg {
   object-fit: contain;
   position: relative;
   width: 100%;
   height: 100%;
}

@media screen and (max-width: 1895px) {
   .imageContainer {
      transform: scale(1.5);
   }
}

@media screen and (max-width: 943px) {
   .imageContainer {
      top: 0px;
   }
}

@media screen and (max-width: 470px) {
   .imageContainer {
      transform: scale(2);
   }
}