 .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .container {
    background: var(--main-main);
    padding: 20px;
    border-radius: var(--border-r20)
 }

 .btn {
    width: 360px;
    padding: 20px;
    background: var(--bg-2);
 }