 .itemContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
 }

 .itemContainer * {
    width: auto;
 }

 .name {
    position: relative;
    padding-left: 9px;
 }

 .name::after {
    content: '';
    position: absolute;
    top: calc(50% - 2.5px);
    left: 0;
    width: 5px;
    height: 5px;
    background: #FF6D00;
    border-radius: 50%;
 }

 .value {
    width: 80px;
    color: var(--color-2);
    font-size: var(--font-size-15);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
 }