.container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 26px;
   border-radius: var(--border-r20);
   background: var(--main-main);
}

.left {
   max-width: 27%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-right: 36px;
}

.right {
   width: 41.5%;
   padding-left: 36px;
}

.middle {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0 20px;
}

.middle:after,
.middle:before {
   position: absolute;
   top: -26px;
   content: '';
   width: 1px;
   height: calc(100% + 52px);
   background: var(--bg-1);

}

.middle:before {
   left: 0;
}

.middle:after {
   right: 0;
}

/* Внутренний контент блоков */
.statisticsBlock {
   width: 100%;
   display: flex;
   background: var(--bg-2);
   overflow: hidden;
   height: 146px;
   border-radius: var(--border-r20);
}

.photoBlock {
   width: 36%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: var(--bg-1);
   gap: 26px;
}

.photoBlock img {
   width: 78px;
}

.dataBlock {
   width: 64%;
   background: var(--bg-2);
   padding: 12px 15px;
   display: flex;
   flex-direction: column;
   gap: 9px;
}

.btn {
   width: 100%;
   padding: 22px 0;
   display: flex;
   justify-content: center;
}

.btnShare {
   width: 177px;
   display: flex;
   justify-content: center;
   white-space: nowrap;
   padding: 15px;
   background: var(--bg-2);
}

.caseImg {
   width: 100%;
}

.count {
   width: auto;
}

.flipContainer {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}