.container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 12px;
}

.container>* {
   background: var(--main-main);
   padding: 20px;
   border-radius: var(--border-r20);
}

.left {
   max-width: 23%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.right {
   width: 22.60%;
}

.middle {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px;
   width: 53%;
}

/* Внутренний контент блоков */

.row {
   display: flex;
   justify-content: center;
   gap: 8px;
}

.btnCreate {
   width: 100%;
   padding: 22px 0;
   display: flex;
   justify-content: center;
}

.btn {
   width: 240px;
   padding: 22px 0;
   display: flex;
   justify-content: center;
   z-index: 1;
}

.btnShare {
   width: 240px;
   display: flex;
   justify-content: center;
   white-space: nowrap;
   padding: 15px;
   background: #FFFFFF05;
   z-index: 1;
}

.imageContainer {
   position: relative;
   bottom: -90px;
   left: -20px;
   width: calc(100% + 40px);
   height: 100%;
   overflow: hidden;
}

.caseImg {
   object-fit: contain;
   transition: transform 0.5s ease-out;
   transform: scale(0.4) skew(5deg);
   opacity: 0;
   position: relative;
   width: 100%;
}

.caseImg.loaded {
  transform: scale(1) skew(0deg);
  opacity: 1;
}

.count {
   width: auto;
}

.flipContainer {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 9px;
}

.w22 {
   width: 22.5% !important;
}

.w49 {
   width: 51% !important;
}

@media screen and (max-width: 1853px) {
   .container {
      flex-wrap: wrap;
      gap: 40px;
   }

   .left {
      max-width: 100%;
      width: 46%;
      padding: 0;
   }

   .middle {
      width: 50%;
   }

   .middle:after {
      display: none;
   }

   .right {
      width: 100%;
      padding: 0;
   }
}

@media screen and (max-width: 1511px) {
   .left {
      width: 100%;
   }

   .middle {
      width: 100%;
   }

   .middle::before {
      display: none;
   }
}