 .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 11px 15px;
 }

 .text {
    width: 100%;
    text-align: left;
    color: var(--color-2)
 }

 .key {
    width: auto;
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-500);
    white-space: nowrap;
 }

 .value {
    width: auto;
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-500);
    white-space: nowrap;
 }