 .btn {
    width: 121px;
    justify-content: center;
    padding: 24px 0;
    background: var(--bg-2);
 }

 .row {
    justify-content: flex-start;
    gap: 8px;
 }

 @media screen and (max-width: 1040px) {
    .btn.btnFAQ {
       display: none;
    }

    .btn {
       width: auto;
       display: flex;
       flex: 1;
       padding: 16px 0;
    }
 }