.container {
   margin-top: 11px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 8px;
   background: var(--main-header);
   padding: 17px 20px;
   border-radius: var(--border-r20);
}

.leftContainer {
   display: flex;
   align-items: center;
   gap: 30px;
}

.imgContainer {
   width: 150px;
}

.contantContainer {
   display: flex;
   align-items: center;
   gap: 8px;
}

.btnContainer {
   display: flex;
   gap: 8px;
}

.balance {
   padding: 19.5px 12px;
   width: 153px;
   display: flex;
   align-items: center;
}

.balance img {
   width: 25px;
}

.btn {
   padding: 19px 29px;
   background: none;
   color: var(--color-2);
}

.btn span{
   color: var(--color-2);
}

.btn img {
   width: 18px;
}

.btnMini {
   position: relative;
   width: 60px;
   height: 60px;
   /* padding: 17px; */
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   z-index: 1;
}
.btnMini *{
   pointer-events: fill !important;

}

.btnMini img {
   width: 20px;
}

.userInfo {
   width: 60px;
   padding: 15px;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
}

.userAvatar img {
   width: 30px;
   height: 30px;
   border-radius: 12px;
   overflow: hidden;
}

.userInfo .logOut {
   width: 30px;
}

.textContainer {
   margin-left: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 137px;
}

.info {
   color: #9E9E9E;
   line-height: 120%;
}

.fullname {
   margin-top: 2px;
}

.btnAddMoney {
   display: flex;
   gap: 8px;
   padding: 17px 45px;
}

.btnAddMoney img {
   width: 25px;
}

@media screen and (max-width: 1627px) {

   .btn,
   .btnAddMoney {
      padding: 14px;
   }

   .imgContainer {
      width: 100px;
   }
}

@media screen and (max-width: 820px) {
   .btnContainer {
      display: none;
   }
}

.langContainer {
   transition: all linear .4s;
   height: 0;
   position: absolute;
   bottom: -100px;
   min-width: 165px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;
   border-radius: var(--border-r20);
   overflow: hidden;
   pointer-events: none;
   z-index: -500;
}

.langContainer.active {
   height: auto;
   bottom: -124px;
   z-index: 999;
   pointer-events: auto;
}

.lan {
   display: flex;
   justify-content: space-between;
   padding: 16px;
   border-radius: 0;
   background: var(--bg-1);
}