 .container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }

 .full {
    width: 100%;
 }

 .text {
    width: 100%;
    text-align: left;
 }

 .name {
   width: auto;
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-500);
    color: var(--color-2);
    white-space: nowrap;
 }

 .value {
   width: auto;
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-500);
    white-space: nowrap;
 }