 .container {
    width: 600px;
    min-height: 642px;
 }

 .btn {
   display: flex;
   justify-content: center;
    padding: 15px 0;
    width: 134px;
 }

 @media screen and (max-width: 600px) {
    .container {
       width: 100%;
       height: 100%;
    }
 }