/* Сброс полей и отступов по умолчанию для body */
body {
   margin: 0;
   padding: 0;
   line-height: 1;
   /* Улучшает читаемость текста */
   background: #1B1E22;
   color: #FFFFFF;
}

/* Сброс стилей для box-sizing (важно для предсказуемой компоновки) */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Сброс стилей для ссылок */
a {
   text-decoration: none;
   /* Убирает подчеркивание по умолчанию */
   color: inherit;
   /* Наследует цвет текста от родительского элемента */
}

/* Сброс стилей для списков */
ul,
ol {
   list-style: none;
   /* Убирает маркеры/номера списков */
   padding: 0;
   margin: 0;
}

/* Сброс стилей для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-size: inherit;
   /* Наследует размер шрифта от родительского элемента */
   font-weight: inherit;
   /* Наследует жирность шрифта от родительского элемента */
}

/* Сброс стилей для форм */
input,
textarea,
select,
button {
   font: inherit;
   /* Наследует шрифт от родительского элемента */
   border: none;
   /* Убирает рамку по умолчанию */
   outline: none;
   /* Убирает обводку при фокусе по умолчанию */
}

button {
   cursor: pointer;
   background: none;
   padding: 0;
}

/* Сброс стилей для изображений */
img {
   display: block;
   /* Убирает нежелательные отступы снизу */
   max-width: 100%;
   /* Делает изображения адаптивными */
   height: auto;
   margin: 0;
}

